.bookDetailPage {
  background: url("../images/cubes.webp");
  background-color: #000;
  min-height: 100vh;

  .bookImg {
    width: 100%;
    max-width: 450px;
    height: 650px;
  }

  .notesCon {
    max-width: 650px;
    margin: 70px auto 0;
  }

  .notes {
    p {
      text-align: justify;
    }
  }
}

.addNote {
  background-color: $form-bg-color;
  max-width: 500px;
}

#note {
  display: block;
  width: 100%;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 1rem;
  color: $form-text-color;
  padding: 5px 10px;
}
